RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

# View
RewriteRule ^$                          view_index.php                  [NC,L]            
RewriteRule ^signup$                    view_signup.php                 [NC,L]
ReWriteRule ^admin$                     view_admin.php                  [NC,L]
# RewriteRule ^admin/(\d+).php$         view_admin.php?id=$1            [NC,L]
# ReWriteRule ^flights$                 view_flights.php                [NC,L]
ReWriteRule ^stays$                     view_stays.php                  [NC,L]
ReWriteRule ^cars$                      view_cars.php                   [NC,L]
ReWriteRule ^things_to_do$              view_things_to_do.php           [NC,L]
ReWriteRule ^holidays$                  view_holidays.php               [NC,L]
ReWriteRule ^explore$                   view_explore.php                [NC,L]
ReWriteRule ^trips$                     view_trips.php                  [NC,L]


#RewriteRule ^search/(\w+)/(\w+)$       view_search.php?from=$1&to=$2   [NC,L]
#RewriteRule ^search/(\w+)/(\w+)/(\d{1,2})/(\d{1,2})$    view_search.php?from=$1&to=$2&day=$3&month=$4   [NC,L]

# Bridge
RewriteRule ^bridge-logout$             bridge-logout.php               [NC,L]
RewriteRule ^bridge-login$              bridge_login.php                [NC,L]

# API
RewriteRule ^api-get-cities-from$       api-get-cities-from.php         [NC,L]
RewriteRule ^api-get-cities-to$         api-get-cities-to.php           [NC,L]
RewriteRule ^api-signup$                api-sign-up.php                 [NC,L]
RewriteRule ^api-search-flights$        api-search-flights.php          [NC,L]
RewriteRule ^api-upload-photo$          api-upload-photo.php            [NC,L]
RewriteRule ^api-is-email-available$    api-is-email-available.php      [NC,L]

# CSS
RewriteRule ^mobile$                    css_mobile.css                  [NC,L]
RewriteRule ^600$                       css_600.css                     [NC,L]
RewriteRule ^900$                       css_900.css                     [NC,L]

# JS
RewriteRule ^app$                       js_app.js                       [NC,L]
RewriteRule ^validator$                 js_validator.js                 [NC,L]

# ERROR
ErrorDocument                           404 /view_404.php