@media only screen and (min-width: 900px) {

    main {
        padding-left: 63px;
        max-width: 1200px;
        margin: 0 auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        padding: 0 1rem;
    }

    header button{
        padding-left: 0.5rem;
    }

    #logo {
        background-image: url("/images/logo.png");
        width: 150px;
    }

    div#menu{
        width: 63px;
        display: flex;
        overflow-x: hidden;
        border-right: 1px solid rgba(167,98,234,0.4);
        left: 0;
        transition: width .15s cubic-bezier(0.77,0,0.175,1);
    }

    div#menu.active {
        width: 250px;
        left: 0;
    }

    .left_nav {
        flex-shrink: 0;
    }

    #sign-in-modal {
        max-width: 600px;
        padding-bottom: 1rem;
    }

    #search_flight,
    #stays,
    #cars,
    #holidays {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    #form_container,
    #stay,
    #car,
    #holiday
    {
        /* max-width: 70vw; */
        flex-direction: row;
        /* height: fit-content; */
    }

    #car {
        width: 1000px ;
    }

    #things {
        display: flex;
        gap: 1rem;
    }

    #things button{
        margin: 0;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #holidays button {
        width: 3rem;
    }

    /* #from-container,
    #to-container {
        height: fit-content;
    } */

    #search_flight button{
        margin: 0 2rem;
    }

    #from-results, #to-results{
        width: 33%;
    }

    .no-flights {
        margin-top: 1rem;
        background: none;
        color: white;
    }

    .no-flights p {
        font-size: 2rem;
        line-height: 3rem;
    }

    #flight-results {
        margin-top: 2rem;
    }

    #options {
        display: flex;
        gap: 1.5rem;          
    }

    .option {
        border: 1px solid rgba(167,98,234,0.4);
        border-radius: 1rem;
        padding: 1rem;
    }

    .card {
        position: relative;
        border: none;
        border-radius: 0.3rem;
    }

    .card img {
        border-radius: 0.3rem;
        height: 40rem;
    }

    .card div {
        position: absolute;
        top: 65%;
        background: #210340;
        margin: 2rem;
        border-radius: 0.3rem;
    }

    .card2-bottom img{
        height: 15rem;
        width: 250px;
    }

    .card3-bottom img{
        width: 16rem;
        height: 16rem;
    }

    .card2-bottom .next,
    .card3-bottom .next{
        display: none;
    }

    .popular_cities{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .popular_city img {
        width: 10vw;
    }

    .departure div,
    .arrival div {
        margin: auto 0;
    }

    .departure {
        border-right: 1px solid gray;
        margin-right: 1rem;
    }

    .all-flights {
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.2fr 1fr;
    }

    .all-flights h4 {
        margin: auto 0;
    }

    .all-flights img{
        width: 150px;
        height: 150px;
    }

    footer {
        padding-left: 63px;
    }
}