@media only screen and (min-width: 600px) {

    main {
        padding: 1rem 3rem;
        width: 90vw;
        max-width: 700px;
        margin: 0 auto;
    }

    header {
        z-index: 99;
    }

    #sign-in-modal{
        right: 0;
        width: 80vw;
        margin: 0 auto;
        height: 900px;
    }

    .sign-in-modal-bottom img{
        height: 15rem;
    }

    #sign-in-modal.show{
        top: 4rem;
    }

    #sign-in-modal .sign-in-modal-bottom{
        right: 0;
    }

    .card2-bottom img{
        height: 13rem;
        width: 76vw;
    }

    .card2-bottom .next{
        top: 5.5rem
    }
    
    #footer-container {
        max-width: 80vw;
        margin: 0 auto;
    }
}